.video-fundo {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit:cover;
    z-index: -1;
}

.slideShow{
    margin-top:500px;
    width:800px;
    height:600px;
    margin-left:25%;
}