body {
    margin: 0;
    padding: 0;
    background: #003A70;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", Arial, sans-serif;
}

/* CARD VERDE */
.card {
    background: #19632F;
    width: 420px;
    padding: 120px 40px 40px 40px;
    border-radius: 35px;
    border: 6px solid #0063C5;
    text-align: center;
    color: white;
    position: relative;
}

    /* LOGO SOBREPOSTA */
    .card::before {
        content: "";
        position: absolute;
        top: -115px;
        left: 50%;
        transform: translateX(-50%);
        width: 220px;
        height: 220px;
        background-image: url('/img/logo.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

.titulo {
    font-size: 28px;
    margin-bottom: 25px;
    font-weight: 300;
    margin-top: 0;
}

label {
    display: block;
    text-align: left;
    width: 100%;
    font-size: 16px;
    margin: 12px 0 5px;
}

/* INPUT COM ÍCONE */
.input-box {
    position: relative;
    width: 100%;
}

    .input-box img {
        width: 22px;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }

    .input-box input {
        width: 80%; /* <-- ALTERAÇÃO FEITA AQUI */
        padding: 12px 12px 12px 45px;
        border-radius: 8px;
        border: 3px solid #0063C5;
        margin: 10px 0;
        font-size: 16px;
        outline: none;
    }

/* BOTÃO */
button {
    margin-top: 25px;
    width: 150px;
    background: #FFCA2B;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

    button:hover {
        filter: brightness(0.92);
    }

/* LINK */
.link {
    display: block;
    margin-top: 18px;
    color: white;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}

.erro {
    color: #ff8080;
    margin-top: 10px;
}
